<h1>Chatrooms</h1>
<ul class="list-group">
<% @chatrooms.each do |chatroom| %>
<li>
    <%= link_to chatroom.name, chatroom_path(chatroom), class: "list-group-item mb-3 chatroom-btn" %>
</li>
<%end%>
</ul>
