<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Team profile cards</title>


    <style>


.main-container0 {

    width: 100%;

    display: flex;
    /* Responsive behaviour */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

}
.card0 {
    position: relative;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    padding: 16px;
    margin:  56px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image0 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5),
    0 5px 20px 0 rgba(0, 0, 0, 0.1);

}

.card-image0 img {
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image01 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5),
    0 5px 20px 0 rgba(0, 0, 0, 0.1);

}
.card-image01 img {

    width: 100%;
}
p {
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    text-align: center;
}

.name0 {
    margin-top: 80px;
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
}

.socials0 {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 12px 8px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.4s;
}

button:hover {
    opacity: 0.8;
}

button i {
    color: #fff;
    font-size: 1.4em;
}

/* Social media colors */
button.github0 {
    background-color: #24292e;

}
button.slack0 {
    background-color: #24292e;

}




.h11{
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  padding-bottom:50px;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.h12{
padding-top:70px;

}

    </style>

</head>
<body class="reda0">
<div class="h12">
<div class="h11">
<h1 class="title0"><strong>Our Team</strong></h1>
</div>

<div class="main-container0">



    <div class="card0 col-sm-4">
        <div class="card-image0">
            <img src="https://avatars.githubusercontent.com/u/153181073?s=400&u=d2c558739fbfac4693b590f6a43a771c6367e2b5&v=4" class alt="Profile image">
        </div>
        <p class="name0">Reda</p>
        <p>UX / UI developer</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials0">
            <button class="github0"><i class="fab fa-github"></i></button>
            <button class="slack0"><i class="fa-brands fa-slack"></i></button>
        </div>
    </div>

    <div class="card0 col-sm-4">
        <div class="card-image0">
            <img src="https://avatars.githubusercontent.com/u/127333635?v=4" alt="Profile image">
        </div>
        <p class="name0">sara</p>
        <p>Front-End developer</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials0">
            <button class="github0"><i class="fab fa-github"></i></button>
            <button class="slack0"><i class="fa-brands fa-slack"></i></button>
        </div>
    </div>

    <div class="card0 col-sm-4">
        <div class="card-image0">
            <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1702544743/xihr9x4xwxwfo2utavag.jpg" alt="Profile image">
        </div>
        <p class="name0">anass</p>
        <p>Back-End developer</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials0">
            <button class="github0"><i class="fab fa-github"></i></button>
            <button class="slack0"><i class="fa-brands fa-slack"></i></button>
        </div>
    </div>
  <div class="card0 col-sm-4">
        <div class="card-image01">
            <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1702544790/nrbofagjuvcsstqe189u.jpg " style="margin-top:10px">
        </div>
        <p class="name0">hamza</p>
        <p>Back-End developer</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.</p>
        <div class="socials0">
            <button class="github0"><i class="fab fa-github"></i></button>
            <button class="slack0"><i class="fa-brands fa-slack"></i></button>
        </div>
    </div>
    </div>

    <div class="containerimg">
    <%= image_tag "lewagon_jobintech.png", style:"       width: 1003px;
    height: 464px;
    margin-top: 13px;
    margin-left: 264px;",  alt: "logo" %>
    </div>
</div>
</body>
</html>
