.navbar-lewagon-reda {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon-reda .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-reda .navbar-brand-reda .img-reda {
  width: 40px;
}
